* {
  box-sizing: border-box;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
  border-bottom: 3px solid #333;
  text-align: center;
  padding: 15px;
  margin-bottom: 0;
}

.brand {
  font-size: 30px;
}

.info-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.spiral {
  font-size: 40px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#scoreboard {
  display: grid;
  margin: 10px auto;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 10px;
  column-gap: 5px;
  max-width: 275px;
}

.scoreboard-letter {
  width: 45px;
  height: 45px;
  font-size: 30px;
  text-transform: uppercase;
  border: 3px solid #ccc;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.correct {
  background-color: darkgreen;
  color: white;
}

.close {
  background-color: goldenrod;
  color: white;
}

.wrong {
  background-color: #888;
  color: white;
}

.invalid {
  animation: flash 1s;
}

@keyframes flash {
  5% {
    border-color: crimson;
  }
  100% {
    border-color: #ccc;
  }
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

.winner {
  animation: rainbow 4s infinite linear;
}
